@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    font-family: "itim";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8FFA9;
    position: relative;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
}

.image img{
    margin-top: 4em;
}

.write_up img{
    margin-top: 9em;
}

.buttons{
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    width: 20em;
}

a{
    text-decoration: none;
    color: #006643;
}

.top_arrow{
    position: absolute;
    top: 3em;
    left: 1em;
}

.get_started{
    margin-top: 8em;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: #006643;
    color: #fff;
    width: 16em;
    height: 2.8em;
    border-radius: 7px;
}