@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bolder;
    background: linear-gradient(rgb(4, 255, 88), rgb(45, 0, 128));
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    color: #fff;
    font-weight: bolder;
    font-size: 3em;
}
.box{
    background-color: white;
    height: 12em;
    width: 30em;
    padding: 2em;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 20px 6px 40px rgba(0,0,0,0.5) ;
}

.year{
    font-size: 24px;
}

.result{
    font-size: 15px;
}

.input{
    width: 300px;
    height: 30px;
    margin-top: 10px;
    outline: none;
    border-color: blue;
    font-size: 16px;
    padding-left: 10px;
}

.submit_button{
    border: none;
    width: 6em;
    height: 3em;
    background-color: blue;
    color: #fff;
    border-radius: 7px;
}

.submit_button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 300ms;
}